global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'breast-cancer-monitor'

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: 'breast-cancer-api'
    scrape_interval: 10s
    static_configs:
      - targets: ['api:8000']
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'breast-cancer-api'

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']
